<div class=" w-50 mx-auto">
            <div>
                <h2>Employee Details</h2>
            </div>
            <div class="my-5 d-grid gap-3 shadow rounded-3 p-5">
                <div class="d-flex justify-content-between">
                    <div class="text-start h3 text-primary" style="width: 45%;">{{employee.first_name}} {{employee.last_name}}</div>
                    <div class="text-start h3 text-primary" style="width: 45%;">{{department.department_name}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-start h3" style="width: 45%;">Employee ID</div>
                    <div class="text-start" style="width: 45%; font-size: x-large;">{{employee.id}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-start h3" style="width: 45%;">Phone Number</div>
                    <div class="text-start" style="width: 45%; font-size: x-large;">{{employee.phone_number}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-start h3" style="width: 45%;">Email</div>
                    <div class="text-start" style="width: 45%; font-size: x-large;">{{employee.email}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-start h3" style="width: 45%;">Seat Number</div>
                    <div class="text-start" style="width: 45%; font-size: x-large;">{{seat_number}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-start h3" style="width: 45%;">Floor</div>
                    <div class="text-start" style="width: 45%; font-size: x-large;">{{floor.floor_level}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="text-start h3" style="width: 45%;">Building</div>
                    <div class="text-start" style="width: 45%; font-size: x-large;">{{building_name}}</div>
                </div>
            </div>
        </div>